<a href="https://colab.research.google.com/github/EliasUlloa/2025-test-python/blob/main/trabajofinal_160925.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#verificar las funciones de la libreria

In [2]:
establecimientos =  pd.read_excel("/content/drive/MyDrive/2025 - UTEC - Grupo 3 - Proyecto Final/4. Solución - Segundo Entregable/Datos/estable.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/2025 - UTEC - Grupo 3 - Proyecto Final/4. Solución - Segundo Entregable/Datos/estable.xlsx'

In [4]:
# verificar la data
establecimientos.head(3)

NameError: name 'establecimientos' is not defined

In [5]:
#los ultimos 3 registros
establecimientos.tail(3)

NameError: name 'establecimientos' is not defined

In [ ]:
#validar numero de filas y columnas
establecimientos.shape

(39409, 73)

In [6]:
#nombre de columnas
establecimientos.columns

NameError: name 'establecimientos' is not defined

In [ ]:
#tipo de columna
establecimientos.dtypes

ID_ESTABLECIMIENTO      int64
ID_PERSONA            float64
ID_EMPRESA            float64
ID_PER_DOMI           float64
ID_PER_TELE           float64
                       ...
NUMERO_EMP             object
INTERIOR_EMP           object
DES_OBS_EMP            object
COD_UBIGEO_EMP         object
ID_GENERO_E           float64
Length: 73, dtype: object

In [7]:
print(establecimientos.dtypes)

NameError: name 'establecimientos' is not defined

In [8]:
#verificacion de tipos de datos
for i,j in establecimientos.dtypes.items():
  print(i,"-", j)

NameError: name 'establecimientos' is not defined

In [ ]:
#estadisticas de la tabla
establecimientos.describe()

,ID_ESTABLECIMIENTO,ID_PERSONA,ID_EMPRESA,ID_PER_DOMI,ID_PER_TELE,ID_PER_CELU,ID_PER_CORREO,ID_PER_PAGWEB,ID_PER_REP,ID_PER_DOCU,...,ID_TRAMITE,ID_VIA,ID_ZONA,COD_UBIGEO,RUC,ID_DOCU_REP,ID_GENERO_REP,ID_VIA_EMP,ID_ZONA_EMP,ID_GENERO_E
count,39409.000000,10431.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39409.000000,39386.000000,10211.000000,39409.000000,3.940800e+04,39105.000000,32678.000000,22858.000000,9301.000000,10818.000000
mean,13276.625974,264626.792158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.393590,5.549281,14.489472,119870.913751,1.443322e+10,1.015804,1.450242,6.192493,11.091496,1.443428
min,1.000000,720.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,10101.000000,1.000002e+10,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6320.000000,161536.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,2.000000,2.000000,80101.000000,1.040191e+10,1.000000,1.000000,2.000000,1.000000,1.000000
50%,12922.000000,282519.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,3.000000,19.000000,110506.000000,1.048672e+10,1.000000,1.000000,3.000000,6.000000,1.000000
75%,20098.000000,322014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,3.000000,21.000000,150906.000000,2.054224e+10,1.000000,2.000000,4.000000,16.000000,2.000000
max,28379.000000,459904.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.000000,22.000000,39.000000,250305.000000,2.069055e+10,3.000000,2.000000,99.000000,99.000000,2.000000
std,8136.641477,89444.604814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.895159,7.109019,10.061494,60533.860307,4.961376e+09,0.124922,0.497526,9.263760,15.840954,0.496812

In [ ]:
print(establecimientos.describe())

       ID_ESTABLECIMIENTO     ID_PERSONA  ID_EMPRESA  ID_PER_DOMI  \
count        39409.000000   10431.000000         0.0          0.0
mean         13276.625974  264626.792158         NaN          NaN
min              1.000000     720.000000         NaN          NaN
25%           6320.000000  161536.500000         NaN          NaN
50%          12922.000000  282519.000000         NaN          NaN
75%          20098.000000  322014.000000         NaN          NaN
max          28379.000000  459904.000000         NaN          NaN
std           8136.641477   89444.604814         NaN          NaN

       ID_PER_TELE  ID_PER_CELU  ID_PER_CORREO  ID_PER_PAGWEB  ID_PER_REP  \
count          0.0          0.0            0.0            0.0         0.0
mean           NaN          NaN            NaN            NaN         NaN
min            NaN          NaN            NaN            NaN         NaN
25%            NaN          NaN            NaN            NaN         NaN
50%            NaN          NaN            NaN            NaN         NaN
75%            NaN          NaN            NaN            NaN         NaN
max            NaN          NaN            NaN            NaN         NaN
std            NaN          NaN            NaN            NaN         NaN

       ID_PER_DOCU  ...    ID_TRAMITE        ID_VIA       ID_ZONA  \
count          0.0  ...  39409.000000  39386.000000  10211.000000
mean           NaN  ...      1.393590      5.549281     14.489472
min            NaN  ...      1.000000      1.000000      1.000000
25%            NaN  ...      1.000000      2.000000      2.000000
50%            NaN  ...      1.000000      3.000000     19.000000
75%            NaN  ...      2.000000      3.000000     21.000000
max            NaN  ...     26.000000     22.000000     39.000000
std            NaN  ...      0.895159      7.109019     10.061494

          COD_UBIGEO           RUC   ID_DOCU_REP  ID_GENERO_REP    ID_VIA_EMP  \
count   39409.000000  3.940800e+04  39105.000000   32678.000000  22858.000000
mean   119870.913751  1.443322e+10      1.015804       1.450242      6.192493
min     10101.000000  1.000002e+10      1.000000       1.000000      1.000000
25%     80101.000000  1.040191e+10      1.000000       1.000000      2.000000
50%    110506.000000  1.048672e+10      1.000000       1.000000      3.000000
75%    150906.000000  2.054224e+10      1.000000       2.000000      4.000000
max    250305.000000  2.069055e+10      3.000000       2.000000     99.000000
std     60533.860307  4.961376e+09      0.124922       0.497526      9.263760

       ID_ZONA_EMP   ID_GENERO_E
count  9301.000000  10818.000000
mean     11.091496      1.443428
min       1.000000      1.000000
25%       1.000000      1.000000
50%       6.000000      1.000000
75%      16.000000      2.000000
max      99.000000      2.000000
std      15.840954      0.496812

[8 rows x 42 columns]

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
establecimientos.describe()

,ID_ESTABLECIMIENTO,ID_PERSONA,ID_EMPRESA,ID_PER_DOMI,ID_PER_TELE,ID_PER_CELU,ID_PER_CORREO,ID_PER_PAGWEB,ID_PER_REP,ID_PER_DOCU,ID_PER_FECNACI,ID_PER_DOCU_E,ID_ESTADO,ID_GRUPO,ID_CLASE,ID_CATEGORIA,NRO_CAMAS,NRO_SILLAS,NRO_HABITACIONES,NRO_MESAS,NRO_PISOS,ID_CONDUCTOR,ID_MOTIVO,FLG_REGISTRO,FLG_EST,USU_CREA,FEC_CREA,USU_MODI,FEC_MODI,ID_TIPO_HAB,FLG_SISTEMA,ID_ZONAL,ID_TRAMITE,ID_VIA,ID_ZONA,COD_UBIGEO,RUC,ID_DOCU_REP,ID_GENERO_REP,ID_VIA_EMP,ID_ZONA_EMP,ID_GENERO_E
count,39409.000000,10431.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39409.000000,39409.000000,0.0,0.0,62.000000,1815.000000,67.000000,1819.000000,7482.000000,0.0,0.0,39409.000000,39409.000000,39361.000000,39409,27694.000000,27734,0.0,6.0,0.0,39409.000000,39386.000000,10211.000000,39409.000000,3.940800e+04,39105.000000,32678.000000,22858.000000,9301.000000,10818.000000
mean,13276.625974,264626.792158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.011698,2.465528,NaN,NaN,32.387097,86.233609,21.850746,22.160528,2.794975,NaN,NaN,0.999848,0.720089,186802.993496,2023-12-28 12:40:56.940444928,184384.839929,2024-03-14 05:40:46.744645376,NaN,1.0,NaN,1.393590,5.549281,14.489472,119870.913751,1.443322e+10,1.015804,1.450242,6.192493,11.091496,1.443428
min,1.000000,720.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,NaN,7.000000,1.000000,4.000000,1.000000,1.000000,NaN,NaN,0.000000,0.000000,50.000000,2022-06-27 11:52:00,50.000000,2022-06-27 12:20:56,NaN,1.0,NaN,1.000000,1.000000,1.000000,10101.000000,1.000002e+10,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6320.000000,161536.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,16.500000,40.000000,12.000000,10.000000,2.000000,NaN,NaN,1.000000,0.000000,127143.000000,2023-04-10 17:49:30,124586.000000,2023-06-20 10:21:14,NaN,1.0,NaN,1.000000,2.000000,2.000000,80101.000000,1.040191e+10,1.000000,1.000000,2.000000,1.000000,1.000000
50%,12922.000000,282519.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,26.000000,60.000000,18.000000,16.000000,3.000000,NaN,NaN,1.000000,1.000000,200677.000000,2023-09-11 14:38:42,197910.000000,2024-03-04 16:12:07,NaN,1.0,NaN,1.000000,3.000000,19.000000,110506.000000,1.048672e+10,1.000000,1.000000,3.000000,6.000000,1.000000
75%,20098.000000,322014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,4.000000,NaN,NaN,40.000000,100.000000,26.000000,26.500000,3.000000,NaN,NaN,1.000000,1.000000,264076.000000,2024-09-20 09:25:12,264076.000000,2025-01-07 08:52:21.750000128,NaN,1.0,NaN,2.000000,3.000000,21.000000,150906.000000,2.054224e+10,1.000000,2.000000,4.000000,16.000000,2.000000
max,28379.000000,459904.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,7.000000,NaN,NaN,98.000000,999.000000,69.000000,300.000000,23.000000,NaN,NaN,1.000000,1.000000,448517.000000,2025-09-16 17:18:23,448517.000000,2025-09-16 17:18:26,NaN,1.0,NaN,26.000000,22.000000,39.000000,250305.000000,2.069055e+10,3.000000,2.000000,99.000000,99.000000,2.000000
std,8136.641477,89444.604814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.644900,1.291578,NaN,NaN,20.877751,85.236880,14.058594,20.932222,1.513363,NaN,NaN,0.012338,0.448961,93043.452720,NaN,100062.364733,NaN,NaN,0.0,NaN,0.895159,7.109019,10.061494,60533.860307,4.961376e+09,0.124922,0.497526,9.263760,15.840954,0.496812

In [ ]:
#validando valores nulos
establecimientos.isnull().sum()

ID_ESTABLECIMIENTO        0
ID_PERSONA            28978
ID_EMPRESA            39409
ID_PER_DOMI           39409
ID_PER_TELE           39409
                      ...
NUMERO_EMP            21038
INTERIOR_EMP          27751
DES_OBS_EMP           37619
COD_UBIGEO_EMP        15383
ID_GENERO_E           28591
Length: 73, dtype: int64

In [ ]:
cantidadFilas = establecimientos.shape[0]
cantidadFilas

39409

In [ ]:
#solo sacar las filas

cantidadFilas = establecimientos.shape[0]

for i,j in establecimientos.isnull().sum().items():
  porcentaje = (j /cantidadFilas)*100
  porcentaje = round(porcentaje)
  print(i, " - ", j, " - ", porcentaje, "%")

ID_ESTABLECIMIENTO  -  0  -  0 %
ID_PERSONA  -  28978  -  74 %
ID_EMPRESA  -  39409  -  100 %
ID_PER_DOMI  -  39409  -  100 %
ID_PER_TELE  -  39409  -  100 %
ID_PER_CELU  -  39409  -  100 %
ID_PER_CORREO  -  39409  -  100 %
ID_PER_PAGWEB  -  39409  -  100 %
ID_PER_REP  -  39409  -  100 %
ID_PER_DOCU  -  39409  -  100 %
ID_PER_FECNACI  -  39409  -  100 %
ID_PER_DOCU_E  -  39409  -  100 %
ID_ESTADO  -  0  -  0 %
ID_GRUPO  -  0  -  0 %
ID_CLASE  -  39409  -  100 %
ID_CATEGORIA  -  39409  -  100 %
NRO_CAMAS  -  39347  -  100 %
NRO_SILLAS  -  37594  -  95 %
NRO_HABITACIONES  -  39342  -  100 %
NRO_MESAS  -  37590  -  95 %
NRO_PISOS  -  31927  -  81 %
NRO_LICENCIAMIENTO  -  21900  -  56 %
FEC_EXP  -  22538  -  57 %
DES_ASOCIACION  -  27157  -  69 %
ID_CONDUCTOR  -  39409  -  100 %
ID_MOTIVO  -  39409  -  100 %
NRO_CONSTANCIA  -  880  -  2 %
FEC_EXP_CONS  -  1243  -  3 %
FEC_OPE  -  14656  -  37 %
DES_LAT  -  14333  -  36 %
DES_LONG  -  14694  -  37 %
FLG_REGISTRO  -  0  -  0 %
FLG_EST  -  0  -  0 %
USU_CREA  -  48  -  0 %
FEC_CREA  -  0  -  0 %
USU_MODI  -  11715  -  30 %
FEC_MODI  -  11675  -  30 %
ID_TIPO_HAB  -  39409  -  100 %
FLG_SISTEMA  -  39403  -  100 %
DES_CALIFICACION  -  38749  -  98 %
ID_ZONAL  -  39409  -  100 %
ID_TRAMITE  -  0  -  0 %
ID_VIA  -  23  -  0 %
DES_VIA  -  0  -  0 %
ID_ZONA  -  29198  -  74 %
DES_ZONA  -  31102  -  79 %
NUMERO  -  8929  -  23 %
INTERIOR  -  35354  -  90 %
DES_OBS  -  34861  -  88 %
COD_UBIGEO  -  0  -  0 %
DES_CORREO  -  8040  -  20 %
DES_WEB  -  30099  -  76 %
NUM_DOCU_REP  -  21  -  0 %
RAZON_SOCIAL  -  0  -  0 %
RUC  -  1  -  0 %
NOMBRE_COMERCIAL  -  39237  -  100 %
DES_ESTABLECIMIENTO  -  1  -  0 %
FEC_NACI  -  34172  -  87 %
DES_APEPAT_REP  -  6143  -  16 %
DES_APEMAT_REP  -  6519  -  17 %
DES_NOMBRE_REP  -  6142  -  16 %
ID_DOCU_REP  -  304  -  1 %
ID_GENERO_REP  -  6731  -  17 %
DES_TELEFONO  -  27797  -  71 %
ID_VIA_EMP  -  16551  -  42 %
DES_VIA_EMP  -  15383  -  39 %
ID_ZONA_EMP  -  30108  -  76 %
DES_ZONA_EMP  -  25557  -  65 %
NUMERO_EMP  -  21038  -  53 %
INTERIOR_EMP  -  27751  -  70 %
DES_OBS_EMP  -  37619  -  95 %
COD_UBIGEO_EMP  -  15383  -  39 %
ID_GENERO_E  -  28591  -  73 %

Tarea:
1. Realizar el mismo analisis para los demas excels
2. Traer el modelo de datos
3. Gererar los ddls de las 3 tablas.
4. Agregar 2 analisis adicionales.Analisis de valores unicos de las variables categoricas
Ejemplo: Data clientes Variable sexo..agrupar
F-8000
M-5000
funcion en un for...